@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #2c2c2c;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #fafafa;
    font-weight: 400;
    text-align: left;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float:none;
    width: 1200px;
    margin: 0 auto;
}

.menu li{
    float: left;
    margin-right: 20px;
}
.product-border-box {
    border: 1px solid #e5e5e5;
    position: relative;
    border-radius: 5px;
}
.categories-box {
    display: flex;
    flex-wrap: wrap;
}
.single-categories-item {
    display: flex !important;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    transition: all 0.4s ease 0s;
    border-radius: 0;
    border: 0;
    min-height: 150px;
}
.categories-slider-col-20 {
    min-height: 1px;
    width: 20%;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #e5e5e5;
}
.categories-slider-col-80 {
    min-height: 1px;
    width: 80%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
